<web-app>  
<servlet>  
<servlet-name>yogesh</servlet-name>  
<servlet-class>DemoServlet</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>yogesh</servlet-name>  
<url-pattern>/main</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>yogesh</servlet-name>  
<servlet-class>DeleteServlet</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>yogesh</servlet-name>  
<url-pattern>/delete</url-pattern>  
</servlet-mapping> 



<servlet>  
<servlet-name>yogesh</servlet-name>  
<servlet-class>UpdateServlet</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>yogesh</servlet-name>  
<url-pattern>/update</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>yogesh</servlet-name>  
<servlet-class>DemoServlet1</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>yogesh</servlet-name>  
<url-pattern>/save</url-pattern>  
</servlet-mapping>
</web-app>  
